@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    color: #432616;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(231,233,148,0.9051821412158614) 100%);
    font-weight: bold;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: hsl(20, 66%, 90%);
    padding: 1%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: center;
    box-shadow: 0 0 30px hsl(21, 91%, 17%);;
}
.header:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: hsl(20, 66%, 90%);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 10px hsl(21, 91%, 17%);
}

.stats-card:hover{
    cursor: pointer;
    box-shadow: 0 0 30px hsl(21, 77%, 34%);
    transition: all 0.3s linear;
    background-color: transparent;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px hsl(21, 91%, 17%);
}

.game-card {
    background-color: hsl(20, 56%, 85%);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 1px 5px hsl(21, 77%, 34%);
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px hsl(21, 77%, 34%);
    transition: all 0.3s linear;
    background-color: transparent;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    margin-bottom: 2rem;
    border-radius: 7px;
    background-color:hsl(21, 100%, 94%);
    color: coffee;
    font-weight: bold;
    box-shadow: 1px 1px 10px hsl(21, 91%, 17%);
}

button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 30px hsl(21, 77%, 34%);
    background-color: transparent;
    transition: all 0.3s linear;
    background-color: transparent;
}

h2{
    text-align: center;
    margin-top: 3rem;
}

#description-container {
    text-align: center;
}
#p-game{
    text-align: center;
}
